<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <style> .nameTtileEntry{ margin-left: 70%; }</style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Guestbook{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href=" {{ asset ('http://getbootstrap.com/examples/dashboard/dashboard.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% block moreSources %} {% endblock %}
    {% endblock %}
</head>

<body>
    {% include 'guestbook/SavedNotSavedFlash.html.twig'%}

    {% block bodyStyle1 %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <li><a href="{{ path('logout') }}" class="btn" role="button">Log out</a></li>
                        <li><a href="{{ path('nuseGuestbookForm1') }}" class="btn" role="button">Write new entry</a></li>
                        <li><a href="{{ path('nshowUser', {'user': app.user.id}) }}" class="btn" role="button">My Entries</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}" class="btn" role="button">Log in</a></li>
                        <li><a href="{{ path('registration') }}" class="btn" role="button">Register</a></li>
                    {% endif %}
                    <li><a href="{{ path('nlist') }}" class="btn" role="button">All Entries</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('showAllUsers') }}" class="btn" role="button">All Users</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% endblock %}
    {% block body %} {% endblock %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery-3.1.0.min.js') }}"><\/script>')</script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>

</body>
</html>


