{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
{% endfor %}
