{% extends "ReuseCode/HeadFooter.html.twig" %}

{% block title %}: Show All Entries{% endblock %}
{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2 style=" text-align: center;">Hello {% if is_granted('ROLE_ADMIN') %} dear admin {{ app.user.username }} {% elseif is_granted('ROLE_USER')%} dear user {{ app.user.username }} {% else %} dear guest{%  endif %}! Here are all the Entries ! </h2>
        </div>
    </div>

    <h2 class="sub-header">Entries:</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr >
                <th colspan="2" style="border-style: none;">Perform action:</th>
                <th style="border-style: none;">Assessment</th>
                <th style="border-style: none;">Title</th>
                <th style="border-style: none;">Entry</th>
                <th style="border-style: none;">Date</th>
                <th style="border-style: none;">Person</th>
                <th style="border-style: none;">Comments</th>
            </tr>
            </thead>
            <tbody>
                {% for i in entries %}
                    <tr>
                    {% if is_granted('ROLE_ADMIN') or ( is_granted('ROLE_USER') and i.user.id ==  app.user.id)%}
                        <td style=""><a href="{{ path('ndeleteEntries', {'entry': i.id}) }}" style="color: red;">Delete</a></td>
                        {% else %}
                        <td></td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <td><a href="{{ path('useCommentaryForm1', {'entry': i.id}) }}" >Comment</a></td>
                        <td>
                            {% if app.user.id not in i.userAlreadyVoted and app.user.id != i.user.id %}
                                <a href="{{ path('assess', {'entry': i.id, 'assessValue': 1, 'page': paginator.page}) }}" >1</a>
                                <a href="{{ path('assess', {'entry': i.id, 'assessValue': 2, 'page': paginator.page}) }}" >2</a>
                                <a href="{{ path('assess', {'entry': i.id, 'assessValue': 3, 'page': paginator.page}) }}" >3</a>
                                <a href="{{ path('assess', {'entry': i.id, 'assessValue': 4, 'page': paginator.page}) }}" >4</a>
                                <a href="{{ path('assess', {'entry': i.id, 'assessValue': 5, 'page': paginator.page}) }}" >5</a>
                                <br>
                            {% endif %}
                            Average:
                                {% if i.assessNumber == 0 %}
                                    0
                                {% else %}
                                    {{ i.assessValue/i.assessNumber}}
                                {% endif %}&nbsp&nbsp
                            # of Votes: {{ i.assessNumber }}
                        </td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>{{ i.title }}</td>
                    <td>{{ i.entry }}</td>
                    <td>{{ i.createdAt|date("m/d/Y") }}</td>

                    {% if is_granted('ROLE_ADMIN') or ( is_granted('ROLE_USER') and i.user.id ==  app.user.id)%}
                        <td><a href="{{ path('nshowUser', {'user': i.user.id}) }}"> {{ i.user.username }}</a></td>
                    {% else  %}
                        <td>{{ i.user.username }}</td>
                    {% endif %}

                    {% for j in i.commentariesInGuestbookEntries %}
                        <td>
                            {{ j.commentary }} <br> {{ j.CreatedAt|date("m/d/Y") }} {{ j.user.username }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if paginator.getCount() > 0 %}
        <div class="pull-right">
            <ul class="pagination">
                {% for singlePage in paginator.getList() %}
                    <li>
                        <a href="{{ url('nlist', {'page': singlePage.number, 'listSize': listSize }) }}" {% if singlePage.active == 1 %}class="active"{% endif %}>{{ singlePage.number }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Results per Page:?</p>
            <a href="{{ path('nlist', {'page': 1 , 'listSize': 5}) }}" class="btn btn-info" role="button">5</a>
            <a href="{{ path('nlist', {'page': 1, 'listSize': 10}) }}" class="btn btn-info" role="button">10</a>
            <a href="{{ path('nlist', {'page': 1, 'listSize': 50}) }}" class="btn btn-info" role="button">50</a>
        </div>
    {% endif %}

{% endblock %}