{% extends "ReuseCode/HeadFooter.html.twig" %}

{% block title %}: Show Users{% endblock %}
{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2 style=" text-align: center;">Hello Admin! Here are the Users and their Entry Titles: </h2>

        </div>
    </div>

    <ul class="list-group">
        {% for i in users %}
            <li class="list-group-item" style="float: left"><h3><a href="{{ path('nshowUser', {'user': i.id}) }}"> {{ i.username }}</a></h3></li>
        {% else %}
            <p>No User found!</p>

        {% endfor %}
    </ul>

    {% if paginator.getCount() > 0 %}
        <div class="pull-right">
            <ul class="pagination">
                {% for singlePage in paginator.getList() %}
                    <li>
                        <a href="{{ url('showAllUsers', {'page': singlePage.number, 'listSize': listSize }) }}" {% if singlePage.active == 1 %}class="active"{% endif %}>{{ singlePage.number }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Results per Page:?</p>
            <a href="{{ path('showAllUsers', {'page': 1 , 'listSize': 5}) }}" class="btn btn-info" role="button">5</a>
            <a href="{{ path('showAllUsers', {'page': 1, 'listSize': 10}) }}" class="btn btn-info" role="button">10</a>
            <a href="{{ path('showAllUsers', {'page': 1, 'listSize': 50}) }}" class="btn btn-info" role="button">50</a>
        </div>
    {% endif %}

{% endblock %}