{% extends "ReuseCode/HeadFooter.html.twig" %}

{% block title %}: Show User Entries{% endblock %}
{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h2 style=" text-align: center;">Hello {{ app.user.username }}. These are the entries of {{ user.username }} </h2>

        </div>
    </div>

    <h2 class="sub-header">Entries:</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="border-style: none;">Perform action:</th>
                <th style="border-style: none;">Assessment</th>
                <th style="border-style: none;">Title</th>
                <th style="border-style: none;">Entry</th>
                <th style="border-style: none;">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for i in user.entries[(paginator.page-1)*5+1:paginator.page*5]  %}
                <tr>
                    <td style="border-style: none; background-color: transparent;">
                        <a href="{{ path('ndeleteEntries', {'entry': i.id}) }}" style="color: red;">Delete</a>
                    </td>
                    <td>
                        Average:
                        {% if i.assessNumber == 0 %}
                        0
                        {% else %}
                            {{ i.assessValue/i.assessNumber}}
                        {% endif %}&nbsp&nbsp
                        # of Votes: {{ i.assessNumber }}
                    </td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.entry }}</td>
                    <td>{{ i.getCreatedAt()|date("m/d/Y") }}</td>
                </tr>
            {% else %}
                <p>No Entries found for this user!</p>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% if paginator.getCount() > 0 %}
        <div class="pull-right">
            <ul class="pagination">
                {% for singlePage in paginator.getList() %}
                    <li>
                        <a href="{{ url('nshowUser', {'user': user.id, 'page': singlePage.number, 'listSize': listSize}) }}" {% if singlePage.active == 1 %}class="active"{% endif %}>{{ singlePage.number }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Results per Page:?</p>
            <a href="{{ path('nshowUser', {'user': user.id, 'page': 1 , 'listSize': 5}) }}" class="btn btn-info" role="button">5</a>
            <a href="{{ path('nshowUser', {'user': user.id, 'page': 1, 'listSize': 10}) }}" class="btn btn-info" role="button">10</a>
            <a href="{{ path('nshowUser', {'user': user.id, 'page': 1, 'listSize': 50}) }}" class="btn btn-info" role="button">50</a>
        </div>
    {% endif %}



{% endblock %}
