{% extends "ReuseCode/HeadFooter.html.twig" %}

{% block title %}: Show All Entries{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h2 style="text-align: center">Hello {{ app.user.username }}. Please write a commentary.</h2>
        </div>
    </div>

    {{ form_start(formCommentary) }}
    {{ form_widget(formCommentary) }}
    {{ form_widget(formCommentary.entries, {value : entryId}) }}
    {{ form_end(formCommentary) }}
{% endblock %}