{% extends "ReuseCode/HeadFooter.html.twig" %}

{% block title %}: Write new Entry{% endblock %}
{% block body %}


    <div class="jumbotron">
        <div class="container">
            <h2 style="text-align: center">Hello {{ app.user.username }}. Please write a new entry.</h2>
        </div>
    </div>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}





