{% extends "ReuseCode/HeadFooter.html.twig" %}

{% block title %}: Login{% endblock %}
{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container">
        <h2>Welcome!</h2>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="usr" name="_username" placeholder="Enter name" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="_password" />
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>

{% endblock %}









